body{
    text-align: center;
    background-color: coral;
}

.container {
    padding: 1em;
}
button{
    font-size: 2em;
    color: white;
    width: 5em;
    height: 2.5em;
    border-radius: 0.25em;
    margin: 0.5em;
}

button.start{
    background-color: green;
}
button.stop{
    background-color: red;
}
button.reset{
    background-color: burlywood;
}
#clock{
    background-color: chocolate;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 2em;
}

#clock > div{
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    background-color: black;
}

#clock div > span{
    padding: 10px;
    border-radius: 5px;
    background-color: darkgray;
    display: inline-block;
}
small{
    padding-top: 5px;
    font-size: 0.9em;
}
input {
    font-size: 1.5em;
    margin: 25px;
    padding: 1em;
}